h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101280 -01. Reconocer las necesidades de la persona en el acceso a los servicios de salud de acuerdo con portafolio de servicios y normativa legal vigente.
                span 230101280 -02. Tramitar la admisión de la persona a los servicios de salud según oferta institucional, acuerdos contractuales y normativa legal vigente.
