h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Normatividad', 'main.html#page/normatividad/')
                    +navTemaItem('2', 'Decreto 4747 de 2007 Regulan algunos aspectos de las relaciones entre los prestadores de servicios de salud y las entidades responsables del pago de los servicios de salud de la población a su cargo', 'main.html#page/decreto_4747/')
                    +navTemaItem('3', 'Ley 2015 de 2020. Crea la historia clínica electrónica', 'main.html#page/ley_2015/')
                    +navTemaItem('4', 'Plan de Beneficios en Salud con cargo a la UPC', 'main.html#page/plan_bebeficios_salud/')
                    +navTemaItem('5', 'Tipos de contratación', 'main.html#page/tipos_contratacion/')
                                       