.container
    .header-ecored
        h1 1. Normatividad.
    .jumbotron.bg-white
        .sub-ecored#11
            h2 1.1 Normatividad relevante al Régimen Subsidiado. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img1.svg").img-fluid        
        p En el Régimen Subsidiado en Salud deben estar afiliadas las personas pobres y vulnerables del país, es decir, las clasificadas en los niveles I o II del Sisbén, y las poblaciones especiales prioritarias, tales como personas en condición de desplazamiento, población infantil abandonada a cargo del ICBF, menores desvinculados del conflicto armado, comunidades indígenas; personas mayores en centros de protección; población rural migratoria; personas del programa de protección a testigos; indigentes y población gitana (conocida como RROM), entre otros. (Ministerio de Salud, s.f.)    

        hr.bg-brand-color-dark-light
        .sub-ecored.mt-5#12
            h2 1.2 Acuerdo 641 de 2016 
        p Por el cual se efectúa la reorganización del sector salud de Bogotá, Distrito Capital, se modifica el Acuerdo 257 de 2006 y se expiden otras disposiciones. 

        p #[strong ARTÍCULO 1º.] Objeto. El presente acuerdo tiene por objeto efectuar la reorganización del sector salud en el Distrito Capital definiendo las entidades y organismos que lo conforman, para lo cual se determinará la fusión de algunas entidades y la creación de otras.

        section
            a(href="https://www.alcaldiabogota.gov.co/sisjur/normas/Norma1.jsp?i=65686" target="_blank").media-link.bg-media-link      

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p En el siguiente enlace se encuentra todo lo relacionado con la reorganización del sector salud en Bogotá.  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img2.svg").img-fluid

        p #[strong ARTÍCULO 2º.] Fusionar las siguientes Empresas Sociales del Estado, adscritas a la Secretaría Distrital de Salud de Bogotá, D.C., como sigue: 
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-6.px-4.py-5.color-col-1
                h3.title-1 Empresas Sociales del Estado de: 
                p.mt-3 Usme, Nazareth, Vista Hermosa, Tunjuelito, Meissen y El Tunal se fusionan en la Empresa Social del Estado denominada “Subred Integrada de Servicios de Salud Sur E.S.E.” 

            .col-12.col-md-6.px-4.py-5.color-col-2
                h3.title-2 Empresas Sociales del Estado de: 
                p.mt-3 Pablo VI Bosa, del Sur, Bosa, Fontibón y Occidente de Kennedy se fusionan en la Empresa Social del Estado denominada “Subred Integrada de Servicios de Salud Sur Occidente E.S.E.”
        .row.justify-content-center.align-items-stretch.mt-2
            .col-12.col-md-6.px-4.py-5.color-col-3
                h3.title-3 Empresas Sociales del Estado de: 
                p.mt-3 Usaquén, Chapinero, Suba, Engativá y Simón Bolívar se fusionan en la Empresa Social del Estado denominada “Subred Integrada de Servicios de Salud Norte E.S.E.” 

            .col-12.col-md-6.px-4.py-5.color-col-4
                h3.title-3 Empresas Sociales del Estado de: 
                p.mt-3 Rafael Uribe, San Cristóbal, Centro Oriente, San Blas, La Victoria y Santa Clara se fusionan en la Empresa Social del Estado denominada “Subred Integrada de Servicios de Salud Centro Oriente E.S.E.”  
        .header-arrow.my-5.py-4
            h3.text-center Con relación a la redistribución del sector salud también debe tener en cuenta lo siguiente:

        .row.justify-content-center.align-items-stretch.mt-6
            .col-12.col-md-5.mx-2.border-col
                img.img-a.mt-3(src="assets/images/pages/ilustraciones/1.svg").img-fluid
                .hr-col
                p.px-1.mt-3 Cada una de las cuatro Empresas Sociales del Estado producto de la fusión prestarán servicios integrales de salud de todos los niveles de complejidad y se articularán en una sola Red Integrada de Servicios de Salud Distrital de conformidad con el artículo 25 del presente Acuerdo. 

            .col-12.col-md-5.mx-2.border-col
                img.img-a.mt-3(src="assets/images/pages/ilustraciones/2.svg").img-fluid
                .hr-col
                p.px-1.mt-3 Los nombres de las actuales unidades de prestación de servicios de salud deberán conservarse para efectos de la identificación por parte de la ciudadanía.

        .row.justify-content-center.align-items-stretch.mt-3
            .col-12.col-md-5.mx-2.border-col
                img.img-a.mt-3(src="assets/images/pages/ilustraciones/3.svg").img-fluid
                .hr-col
                p.px-1.mt-3 En cada una de las subredes de prestación de servicios de salud se desarrollará una central de urgencias de conformidad con las necesidades de la población, la demanda de servicios y la accesibilidad geográfica. 

            .col-12.col-md-5.mx-2.border-col
                img.img-a.mt-3(src="assets/images/pages/ilustraciones/4.svg").img-fluid
                .hr-col
                p.px-1.mt-3 Las cuatro subredes de servicios de salud adelantarán las acciones de promoción de la salud y prevención de la enfermedad a nivel individual y colectivo que le brinden al usuario una atención integral. Se fortalecerán las acciones de autocuidado y mutuo cuidado y las acciones intersectoriales que fomenten acciones individuales y colectivas para incentivar estilos de vida saludable.  

        .row.justify-content-center.align-items-stretch.mt-3
            .col-12.col-md-5.mx-2.border-col
                img.img-a.mt-3(src="assets/images/pages/ilustraciones/5.svg").img-fluid
                .hr-col
                p.px-1.mt-3 Las Empresas Sociales del Estado resultantes de la fusión deberán realizar, conforme a la normatividad vigente, procesos de rendición de cuentas ante la comunidad beneficiaria con el fin de promover la participación ciudadana e implementar las acciones que mejoren los servicios de salud.  

        p.mt-5 Los CAPS fueron pensados y creados para que la población más vulnerable, como mujeres embarazadas, menores de un año, adultos mayores o personas con enfermedades crónicas recibieran atención especializada, ágil y oportuna.
        p Los CAPS han sido una novedosa y exitosa iniciativa porque por primera vez se llevan los servicios de consulta con especialistas a los barrios, lo que antes no existía, evitando que los usuarios se desplacen a los hospitales, ahorrando tiempo y dinero en transporte.
        p En los nuevos CAPS se prestan servicios de medicina especializada como gineco-obstetricia, ortopedia, pediatría, medicina interna, neurocirugía, dermatología, toxicología y nutrición, pero también de medicina general, enfermería, odontología, toma de muestras de laboratorio clínico, vacunación, programas de promoción y prevención de la salud. (Salud Capital , s.f.)
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img3.svg").img-fluid

        section
            a(href="https://pbs.twimg.com/media/D8TzC3WUIAEhLeJ.jpg" target="_blank").media-link.bg-media-link      

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Ubicación de los CAPS en la ciudad de Bogotá       
        .header-arrow.py-4.mt-5
            h3.text-center.mb-0 Ingrese al siguiente enlace donde se presenta un video que muestra los centros de atención prioritaria en salud (CAPS) en Bogotá.

        .row.mt-5
            .col
                .card        
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SXdPgjgujwY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    .card-body.mt-0
                        p #[strong Peñalosa cumple la meta de abrir 40 ​Centros de Atención Prioritaria en Salud] | ¡Le cumplimos a Bogotá! La ciudad ya cuenta con 40 Centros de Atención Prioritaria en Salud para brindar a los usuarios atención especializada, oportuna y de calidad cerca de casa. Los CAPS también han ayudado a reducir la alta demanda en los hospitales. Esto demuestra que el modelo de salud implementado en la administración de Enrique Peñalosa sí dio resultados. 