.container
    .header-ecored
        h1 2. Decreto 4747 de 2007. Regulan algunos aspectos de las relaciones entre los prestadores de servicios de salud y las entidades responsables del pago de los servicios de salud de la población a su cargo.
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img4.svg").img-fluid      
        
        nav.nav-tab-ecored.my-5
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                    strong Capítulo I 
                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                    strong Capítulo II 
                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                    strong Capítulo III 
                a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                    strong Capítulo IV 
                a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                    strong Capítulo V                     

                
            #nav-tabContent.tab-content
                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            h3 Capítulo I Objeto y definiciones básicas
                    .jumbotron.bg-color-1
                        p.mb-0 #[strong Artículo 1]. Objeto. El presente decreto tiene por objeto regular algunos aspectos de la relación entre los prestadores de servicios de salud y las entidades responsables del pago de los servicios de salud de la población a su cargo. 
                    .jumbotron.bg-color-1
                        p.mb-0 #[strong Artículo 2]. Campo de aplicación. El presente decreto aplica a los prestadores de servicios de salud ya toda entidad responsable del pago de los servicios de salud. Cuando las entidades que administran regímenes especiales y de excepción suscriban acuerdos de voluntades con prestadores de servicios de salud a quienes les sea aplicable el presente decreto, deberán cumplir con los términos aquí establecidos.                         
                    .jumbotron.bg-color-1.px-0
                        p.mx-5 #[strong Artículo 3]. Definiciones. Para efectos del presente decreto se adoptan las siguientes definiciones:
                        
                            .row.justify-content-center.align-items-stretch.mt-5
                                .col-5.jumbotron.px-3.py-3.bg-white
                                       
                                    p #[strong a. Prestadores de servicios de salud:] Se consideran como tales las instituciones prestadoras de servicios de salud y los grupos de práctica profesional que cuentan con infraestructura física para prestar servicios de salud y que se encuentran habilitados. Para efectos del presente decreto, se incluyen los profesionales independientes de salud y los servicios de transporte especial de pacientes que se encuentren habilitados.

                                .col-5.ml-3.jumbotron.px-3.py-3.bg-white
                                      
                                    p #[strong b. Entidades responsables del pago de servicios de salud:] Se consideran como tales las direcciones departamentales, distritales y municipales de salud, las entidades promotoras de salud de los regímenes contributivo y subsidiado, las entidades adaptadas y las administradoras de riesgos profesionales.

                            .row.justify-content-center.align-items-stretch.mt-3
                                .col-5.jumbotron.px-3.py-3.bg-white
                                       
                                    p #[strong c. Red de prestación de servicios:] Es el conjunto articulado de prestadores de servicios de salud, ubicados en un espacio geográfico, que trabajan de manera organizada y coordinada en un proceso de integración funcional orientado por los principios de complementariedad, subsidiariedad y los lineamientos del proceso de referencia y contrarreferencia establecidos por la entidad responsable del pago, que busca garantizar la calidad de la atención en salud y ofrecer una respuesta adecuada a las necesidades de la población en condiciones de accesibilidad, continuidad, oportunidad, integralidad y eficiencia en el uso de los recursos.


                                .col-5.ml-3.jumbotron.px-3.py-3.bg-white
                                      
                                    p #[strong d. Modelo de atención.] Comprende el enfoque aplicado en la organización de la prestación del servicio, la integralidad de las acciones, y la consiguiente orientación de las actividades de salud. De él se deriva la forma como se organizan los establecimientos y recursos para la atención de la salud desde la perspectiva del servicio a las personas, e incluye las funciones asistenciales y logísticas, como la puerta de entrada al sistema, su capacidad resolutiva, la responsabilidad sobre las personas que demandan servicios, así como el proceso de referencia y contrarreferencia.                                  
                            .row.justify-content-center.align-items-stretch.mt-3
                                .col-5.jumbotron.px-3.py-3.bg-white
                                       
                                    p #[strong e. Referencia y contrarreferencia.] Conjunto de procesos, procedimientos y actividades técnicos y administrativos que permiten prestar adecuadamente los servicios de salud a los pacientes, garantizando la calidad, accesibilidad, oportunidad, continuidad e integralidad de los servicios, en función de la organización de la red de prestación de servicios definida por la entidad responsable del pago.
                                    p #[strong La referencia] es el envío de pacientes o elementos de ayuda diagnóstica por parte de un prestador de servicios de salud, a otro prestador para atención o complementación diagnóstica que, de acuerdo con el nivel de resolución, de respuesta a las necesidades de salud.
                                    p #[strong La contrarreferencia] es la respuesta que el prestador de servicios de salud receptor de la referencia da al prestador que remitió. La respuesta puede ser la contra remisión del paciente con las debidas indicaciones a seguir o simplemente la información sobre la atención prestada al paciente en la institución receptora, o el resultado de las solicitudes de ayuda diagnóstica.
                                .col-5.ml-3.jumbotron.px-3.py-3.bg-white
                                      
                                    p #[strong f. Acuerdo de voluntades:] Es el acto por el cual una parte se obliga para con otra a dar, hacer o no hacer alguna cosa. Cada parte puede ser de una o varias personas naturales o jurídicas. El acuerdo de voluntades estará sujeto a las normas que le sean aplicables, a la naturaleza jurídica de las partes que lo suscriben y cumplirá con las solemnidades, que las normas pertinentes determinen.                              
                    .jumbotron.bg-color-1.px-0
                        p.mx-5 #[strong Artículo 4.] Mecanismos de pago aplicables a la compra de servicios de salud. Los principales mecanismos de pago aplicables a la compra de servicios de salud son:
                        
                            .row.justify-content-center.align-items-stretch.mt-5
                                .col-5.jumbotron.px-3.py-3.bg-white
                                       
                                    p #[strong a. Pago por capitación:] Pago anticipado de una suma fija que se hace por persona que tendrá derecho a ser atendida durante un periodo de tiempo, a partir de un grupo de servicios preestablecido. La unidad de pago está constituida por una tarifa pactada previamente, en función del número de personas que tendrían derecho a ser atendidas. 

                                .col-5.ml-3.jumbotron.px-3.py-3.bg-white
                                      
                                    p #[strong b. Pago por evento:] Mecanismo en el cual el pago se realiza por las actividades, procedimientos, intervenciones, insumos y medicamentos prestados o suministrados a un paciente durante un período determinado y ligado a un evento de atención en salud. La unidad de pago la constituye cada actividad, procedimiento, intervención, insumo o medicamento prestado o suministrado, con unas tarifas pactadas previamente.  

                            .row.justify-content-center.align-items-stretch.mt-3
                                .col-10.jumbotron.px-3.py-3.bg-white
                                       
                                    p #[strong c. Pago por caso:] conjunto integral de atenciones, paquete o grupo relacionado por diagnóstico: Mecanismo mediante el cual se pagan conjuntos de actividades, procedimientos, intervenciones, insumos y medicamentos, prestados o suministrados.

                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            h3 Capítulo II Contratación entre prestadores de servicios de salud y entidades responsables del pago de servicios de salud. 
                    .jumbotron.bg-color-2
                        p #[strong Artículo 5.] Requisitos mínimos que se deben tener en cuenta para la negociación y suscripción de los acuerdos de voluntades para la prestación de servicios.

                        p #[strong a.] Por parte de los prestadores de servicios de salud: 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 1 
                            .list__txt 
                                p.mb-0.mt-1 Habilitación de los servicios por prestar. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 2 
                            .list__txt 
                                p.mb-0.mt-1 Soporte de la suficiencia para prestar los servicios por contratar estimada a partir de la capacidad instalada, frente a las condiciones demográficas y epidemiológicas de la población del contratante que va a ser atendida.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 3
                            .list__txt 
                                p.mb-0.mt-1 Modelo de prestación de servicios definido por el prestador.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 4
                            .list__txt 
                                p.mb-0.mt-1 Indicadores de calidad en la prestación de servicios, definidos en el Sistema de Información para la Calidad del Sistema Obligatorio de Garantía de Calidad de la Atención en Salud.
                        
                        .hr-ecored
                        p.mt-5 #[strong b.] Por parte de las entidades responsables del pago de los servicios de salud de la población a su cargo:
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 1 
                            .list__txt 
                                p.mb-0.mt-1 Información general de la población objeto del acuerdo de voluntades con los datos sobre su ubicación geográfica y perfil demográfico. 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 2
                            .list__txt 
                                p.mb-0.mt-1 Modelo de atención definido por la entidad responsable del pago. 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 3 
                            .list__txt 
                                p.mb-0.mt-1 Diseño y organización de la red de servicios, indicando el nombre, ubicación de los prestadores de servicios de salud con el tipo y complejidad de los servicios contratados, que garanticen la oportunidad, integralidad, continuidad y accesibilidad a la prestación de servicios de la población a cargo de la entidad responsable del pago. 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 4
                            .list__txt 
                                p.mb-0.mt-1 Mecanismos y medios de difusión y comunicación de la red de prestación de servicios a los usuarios. 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 5
                            .list__txt 
                                p.mb-0.mt-1 Indicadores de calidad en los servicios de aseguramiento definidos en el Sistema de Información para la Calidad del Sistema Obligatorio de Garantía de Calidad de la Atención en Salud. 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 6
                            .list__txt 
                                p.mb-0.mt-1 Diseño, organización y documentación del proceso de referencia y contrarreferencia que involucre las normas operacionales, sistemas de información y recursos logísticos requeridos para la operación de la red.               
                    .jumbotron.bg-color-2
                        p #[strong Artículo 6.] Condiciones mínimas que deben ser incluidas en los acuerdos de voluntades para la prestación de servicios. Independientemente del mecanismo de pago que se establezca en los acuerdos de voluntades para la prestación de servicios, estos deberán contener, como mínimo los siguientes aspectos: 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 1 
                            .list__txt 
                                p.mb-0.mt-1 Término de duración.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 2 
                            .list__txt 
                                p.mb-0.mt-1 Monto o los mecanismos que permitan determinar el valor total del mismo. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 3 
                            .list__txt 
                                p.mb-0.mt-1 Información general de la población objeto con los datos sobre su ubicación geográfica y perfil demográfico.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 4
                            .list__txt 
                                p.mb-0.mt-1 Servicios contratados.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 5 
                            .list__txt 
                                p.mb-0.mt-1 Mecanismos y forma pago.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 6 
                            .list__txt 
                                p.mb-0.mt-1 Tarifas que deben ser aplicadas a las unidades de pago. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 7 
                            .list__txt 
                                p.mb-0.mt-1 Proceso y operación del sistema de referencia y contrarreferencia.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 8 
                            .list__txt 
                                p.mb-0.mt-1 Periodicidad en la entrega de información de prestaciones de servicios de salud - RIPS.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 9 
                            .list__txt 
                                p.mb-0.mt-1 Periodicidad y forma como se adelantará el programa de auditoria para el mejoramiento de la calidad y la reviso ría de cuentas.

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 10 
                            .list__txt 
                                p.mb-0.mt-1 Mecanismos de interventoría, seguimiento y evaluación del cumplimiento de las obligaciones, durante la vigencia del acuerdo de voluntades. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 11 
                            .list__txt 
                                p.mb-0.mt-1 Mecanismos para la solución de conflictos. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 12 
                            .list__txt 
                                p.mb-0.mt-1 Mecanismos y términos para la liquidación o terminación de los acuerdos de voluntades, teniendo en cuenta la normatividad aplicable en cada caso.    

                    .jumbotron.bg-color-2
                        p #[strong Artículo 7.] Condiciones mínimas que se deben incluir en los acuerdos de voluntades para la prestación de servicios mediante el mecanismo de pago por capitación. 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 1 
                            .list__txt 
                                p.mb-0.mt-1 Base de datos con la identificación de los usuarios cubiertos con el acuerdo de voluntades.   

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 2 
                            .list__txt 
                                p.mb-0.mt-1 Perfil epidemiológico de la población objeto del acuerdo de voluntades. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 3 
                            .list__txt 
                                p.mb-0.mt-1 Monto que debe ser pagado por el responsable del pago por cada persona con derecho a ser atendida, en un período determinado, en el marco de los servicios convenidos o pactados con el prestador de servicios. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 4 
                            .list__txt 
                                p.mb-0.mt-1 Identificación de las actividades, procedimientos, intervenciones, insumos y medicamentos incluidos en la capitación, de acuerdo con la codificación que establezca el Ministerio de la Protección Social. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 5 
                            .list__txt 
                                p.mb-0.mt-1 Metas de cobertura, resolutividad y oportunidad en la atención, que tengan en cuenta la normatividad vigente. 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 6 
                            .list__txt 
                                p.mb-0.mt-1 Condiciones de ajuste en el precio asociadas a las novedades de ingreso o retiro que se presenten en la población a cargo de la entidad esponsable del pago.
 

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 7 
                            .list__txt 
                                p.mb-0.mt-1 Condiciones para el reemplazo de personas cubiertas por el acuerdo de voluntades, asociadas a las novedades de ingreso o retiro que se presenten en la población a cargo de la entidad responsable del pago. 

                    .jumbotron.bg-color-2
                        p #[strong Artículo 8.] Condiciones mínimas que se deben incluir en los acuerdos de voluntades para la prestación de servicios mediante el mecanismo de pago por evento, caso, conjunto integral de atenciones, paquete o grupo relacionado por diagnóstico.
 
                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 1 
                            .list__txt 
                                p.mb-0.mt-1 Actividades, procedimientos, intervenciones, insumos y medicamentos que deben ser prestados o suministrados por el prestador de servicios de salud, o listado y descripción de diagnósticos, paquetes, conjuntos integrales o grupos relacionados por diagnóstico.   

                        .list.mt-3
                            .list__item
                                .list__item__bulletNumber
                                    span 2 
                            .list__txt 
                                p.mb-0.mt-1 Tarifas que deben ser aplicadas a las actividades, procedimientos, intervenciones, insumos y medicamentos, o los conjuntos integrales de atenciones, paquetes o grupos relacionados por diagnóstico.  

                    .jumbotron.bg-color-2
                        p #[strong Artículo 9.] Instituciones prestadoras de servicios de salud acreditadas en salud.

                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt
                            h3 Capítulo III Proceso de atención.                 
                    .jumbotron.bg-color-3
                        p #[strong Artículo 10.] Sistema de selección y clasificación de pacientes en urgencias "triage". El Ministerio de la Protección Social definirá un sistema de selección y clasificación de pacientes en urgencias, denominado "triage", el cual será de obligatorio cumplimiento por parte de los prestadores de servicios de salud que tengan habilitados servicios de urgencias y de las entidades responsables del pago de servicios de salud en el contexto de la organización de la red de prestación de servicios.

                        p Conforme a la disposición de la resolución 5596 de 2015 Por la cual se definen los criterios técnicos para el Sistema de Selección y Clasificación de pacientes en los servicios de urgencias "Triage".
                        p El triage es un Sistema de Selección y Clasificación de pacientes, basado en sus necesidades terapéuticas y los recursos disponibles que consiste en una valoración clínica breve que determina la prioridad en que un paciente será atendido. El "Triage", como proceso dinámico que es, cambia tan rápidamente como lo puede hacer el estado clínico del paciente. (ministerio de sallud , s.f.)

                        .list.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p Los objetivos del Triage, son:

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Asegurar una valoración rápida y ordenada de todos los pacientes que llegan a los servicios de urgencias, identificando a aquellos que requieren atención inmediata.    

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Seleccionar y clasificar los pacientes para su atención según su prioridad clínica y los recursos disponibles en la institución

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Disminuir el riesgo de muerte, complicaciones o discapacidad de los pacientes que acuden a los servicios de urgencia.

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Brindar una comunicación inicial con información completa que lleve al paciente y a su familia a entender en qué consiste su clasificación de Triage, los tiempos de atención o de espera que se proponen y así disminuir su ansiedad (ministerio de salud , s.f.).  
                        .row.justify-content-center.align-items-center.mt-5
                            .col-12.col-md-6
                                section
                                    a(href="https://red-salud.micolombiadigital.gov.co/sites/red-salud/content/files/000116/5753_triage2_1024x600.png" target="_blank").media-link.bg-media-link-white      

                                        img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                                        .media-link-title.ml-4
                                            p Enlace Infografía


                            .col-12.col-md-6

                                section
                                    a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Resoluci%C3%B3n%205596%20de%202015.pdf" target="_blank").media-link.bg-media-link-white      

                                        img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                                        .media-link-title.ml-4
                                            p Enlace normatividad 

                    .jumbotron.bg-color-3
                        p #[strong Artículo 11.] Verificación de derechos de los usuarios. La verificación de derechos de los usuarios es el procedimiento por medio del cual se identifica la entidad responsable del pago de los servicios de salud que demanda el usuario y el derecho de este a ser cubierto por dicha entidad. 

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p El prestador de servicios de salud deberá verificar la identificación del usuario en la base de datos provista por los responsables del pago.  

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Dicha verificación, podrá hacerse a través del documento de identidad o cualquier otro mecanismo tecnológico. 

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p No podrán exigirse al usuario copias, fotocopias o autenticaciones de ningún documento. 

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p En el caso de afiliados al régimen contributivo a los que se les haya realizado el descuento de la cotización, y el empleador no haya efectuado el pago a la entidad promotora de salud del régimen contributivo, el afiliado acreditará su derecho mediante la presentación del comprobante del descuento por parte del empleador, así como la fotocopia de ser necesaria. 

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p El procedimiento de verificación de derechos será posterior a la selección y clasificación del paciente, "triage" y no podrá ser causa en ninguna circunstancia para posponer la atención inicial de urgencias. 

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p El Ministerio de la Protección Social establecerá el procedimiento y formato para que los prestadores de servicios de salud informen las posibles inconsistencias que detecten en las bases de datos, al momento de verificar los derechos de los usuarios que demandan sus servicios, sin que su diligencia miento y trámite afecte la prestación y el pago de los servicios.

                    .jumbotron.bg-color-3
                        p #[strong Artículo 12.] Informe de la atención inicial de urgencias. Todo prestador de servicios de salud deberá informar obligatoriamente a la entidad responsable del pago, el ingreso de los pacientes al servicio de urgencias dentro de las veinticuatro (24) horas siguientes al inicio de la atención. El informe de atención inicial de urgencias se realizará mediante el diligenciamiento y envío del formato correspondiente.                                           
                    .jumbotron.bg-color-3
                        p #[strong Artículo 13.] Solicitud de autorización de servicios posteriores a la atención inicial de urgencias. Si para la prestación de servicios posteriores a la atención inicial de urgencias, las entidades responsables del pago de servicios de salud han establecido como requisito una autorización particular, una vez realizada la atención inicial de urgencias, el prestador de servicios de salud deberá informar a la entidad responsable del pago, la necesidad de prestar el servicio cuya autorización se requiere, utilizando para ello el formato y siguiendo los procedimientos y términos definidos por el Ministerio de la Protección Social, para el efecto. Este proceso no podrá ser trasladado al paciente o a su acudiente y es de responsabilidad exclusiva del prestador de servicios de salud.

                    .jumbotron.bg-color-3
                        p #[strong Artículo 14.] Respuesta de autorización de servicios posteriores a la atención inicial de urgencias. Las entidades responsables del pago de servicios de salud deben dar respuesta a las solicitudes de autorización de servicios siguiendo los procedimientos, mecanismos y en el formato que determine el Ministerio de la Protección Social. Este proceso no podrá ser trasladado al paciente o su acudiente y es de responsabilidad exclusiva de la entidad responsable del pago. 
                        p La respuesta a la solicitud de autorización de servicios posteriores a la atención de urgencias deberá darse por parte de la entidad responsable del pago, dentro de los siguientes términos:
                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Para atención subsiguiente a la atención inicial de urgencias: Dentro de las dos (2) horas siguientes al recibo de la solicitud. 

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Para atención de servicios adicionales: Dentro de las seis (6) horas siguientes al recibo de la solicitud. 

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p De no obtenerse respuesta por parte de la entidad responsable del pago dentro de los términos aquí establecidos, se entenderá como autorizado el servicio y no será causal de glosa, devolución y/o no pago de la factura. 

                        .list.ml-3.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Cuando las entidades responsables del pago de servicios de salud consideren que no procede la autorización de los servicios, insumos y/o medicamentos solicitados, deberán diligenciar el Formato de negación de servicios de salud y/o medicamentos que establezca la Superintendencia Nacional de Salud.

                    .jumbotron.bg-color-3
                        p #[strong Artículo 15.] Solicitud de servicios electivos. Si para la realización de servicios de carácter electivo, ambulatorios u hospitalarios, las entidades responsables del pago de servicios de salud tienen establecido como requisito la autorización, ésta será diligenciada por el prestador de servicios de salud con destino a la entidad responsable del pago, en el formato de solicitud y con los mecanismos definidos por el Ministerio de la Protección Social.

                    .jumbotron.bg-color-3
                        p #[strong Artículo 16.] Respuesta de autorización de servicios electivos. Las entidades responsables del pago de servicios de salud deben dar respuesta a los usuarios de las solicitudes de autorización de servicios electivos tanto ambulatorios como hospitalarios, dentro de los términos, por las vías y en el formato que determine el Ministerio de la Protección Social, sin que el trámite de la autorización pueda ser trasladado al usuario o su acudiente.

                    .jumbotron.bg-color-3
                        p #[strong Artículo 17.] Proceso de referencia y contrarreferencia.  es obligación de las entidades responsables del pago de servicios de salud, quienes deberán disponer de una red de prestadores de servicios de salud que garanticen la disponibilidad y suficiencia de los servicios en todos los niveles de complejidad a su cargo, así como la disponibilidad de la red de transporte y comunicaciones.  
                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Cuando el transporte se realice en una ambulancia debidamente habilitada, que no dependa de la IPS remisora, la entidad que tiene habilitado el servicio de transporte será responsable de la atención durante el mismo, con la tecnología disponible de acuerdo con el servicio de ambulancia habilitado, hasta la entrega del paciente en la entidad receptora definida por la entidad responsable del pago.                             

                    .jumbotron.bg-color-3
                        p #[strong Artículo 18.] Organización y operación de los centros reguladores de urgencias, emergencias y desastres. Les corresponde a las direcciones territoriales de salud, regular los servicios de urgencias de la población de su territorio y coordinar la atención en salud de la población afectada por emergencias o desastres en su área de influencia. El Ministerio de la Protección Social establecerá las condiciones y requisitos para la organización, operación y funcionamiento de los centros reguladores de urgencias y emergencias y desastres, - CRUE.

                        p CRUE es la encargada de coordinar la atención y resolución de las urgencias médicas, las emergencias y los desastres del Distrito Capital a través del Sistema de Emergencias Médicas.

                        .list.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                            .list__txt
                                p Presta los servicios de: 

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Atención Prehospitalaria en urgencias y emergencias. 

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Asesoría telefónica en salud e intervención psicológica. 

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Formación y fortalecimiento de los actores del Sistema de Emergencias Médicas Distritales.

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Apoyo en la gestión de riesgo para la prevención y atención de emergencias y desastres en el sector salud. 

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Asesoría y asistencia técnica en planes hospitalarios de emergencia a la red prestadora de servicios de salud pública y privada. 

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Asesoría en la construcción de planes preparativos y respuestas a emergencias sector salud. 

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Coordinación de la respuesta en salud en las actividades de aglomeración de público en el Distrito Capital. (salud capital , s.f.).

                #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt
                            h3 Capítulo IV Disposiciones generales.
                    .jumbotron.bg-color-4
                        p #[strong Artículo 19.] Clasificación Única de Procedimientos en Salud - CUPS. Para la codificación de procedimientos se utilizará la Clasificación Única de Procedimientos en Salud - CUPS, la cual será de obligatoria aplicación en todo el territorio nacional en todos los procesos del sector que impliquen identificación y denominación de los procedimientos en salud. 
                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Dicha clasificación será actualizada de manera periódica por el Ministerio de la Protección Social, para lo cual podrá consultar con las asociaciones científicas y otros actores del sistema.                                                 
                    .jumbotron.bg-color-4
                        p #[strong Artículo 20.] Registro Individual de Prestaciones de Salud - RIPS. El Ministerio de la Protección Social revisará y ajustará el formato, codificaciones, procedimientos y malla de validación de obligatoria adopción por todas las entidades del Sistema General de Seguridad Social en Salud, para el reporte del Registro Individual de Prestaciones de Salud - RIPS.
                        p RIPS es "el conjunto de datos mínimos y básicos que el Sistema General de Seguridad Social en Salud requiere para los procesos de dirección, regulación y control, y como soporte de la venta de servicio, cuya denominación, estructura y características se ha unificado y estandarizado para todas las entidades a que hace referencia el artículo segundo de la Resolución en mención. (MINISTERIO DE SALUD, s.f.)

                    .jumbotron.bg-color-4
                        p #[strong Artículo 21.] Soportes de las facturas de prestación de servicios. Los prestadores de servicios de salud deberán presentar a las entidades responsables de pago, las facturas con los soportes que, de acuerdo con el mecanismo de pago, establezca el Ministerio de la Protección Social.

                    .jumbotron.bg-color-4
                        p #[strong Artículo 22.] Manual único de glosas, devoluciones y respuestas. El Ministerio de la Protección Social expedirá el Manual Único de Glosas, devoluciones y respuestas, en el que se establecerán la denominación, codificación de las causas de glosa y de devolución de facturas, el cual es de obligatoria adopción por todas las entidades del Sistema General de Seguridad Social en Salud.

                    .jumbotron.bg-color-4
                        p #[strong Artículo 23.] Trámite de glosas. Las entidades responsables del pago de servicios de salud dentro de los treinta (30) días hábiles siguientes a la presentación de la factura con todos sus soportes, formularán y comunicarán a los prestadores de servicios de salud las glosas a cada factura, con base en la codificación y alcance definidos en el manual único de glosas, devoluciones y respuestas.
                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Una vez formuladas las glosas a una factura, no se podrán formular nuevas glosas a la misma factura, salvo las que surjan de hechos nuevos detectados en la respuesta dada a la glosa inicial. 

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p El prestador de servicios de salud deberá dar respuesta a las glosas presentadas por las entidades responsables del pago de servicios de salud, dentro de los quince (15) días hábiles siguientes a su recepción. En su respuesta a las glosas, el prestador de servicios de salud podrá aceptar las glosas iniciales que estime justificadas y emitir las correspondientes notas crédito, o subsanar las causales que generaron la glosa, o indicar, justificadamente, que la glosa no tiene lugar. La entidad responsable del pago, dentro de los diez (10) días hábiles siguientes, decidirá si levanta total o parcialmente las glosas o las deja como definitivas. Los valores por las glosas levantadas deberán ser cancelados dentro de los cinco (5) días hábiles siguientes, informando de este hecho al prestador de servicios de salud.

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Las facturas devueltas podrán ser enviadas nuevamente a la entidad responsable del pago, una vez el prestador de servicios de salud subsane la causal de devolución, respetando el período establecido para la recepción de facturas.

                        .list.ml-3.mt-5
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                p Vencidos los términos y en el caso de que persista el desacuerdo se acudirá a la Superintendencia Nacional de Salud, en los términos establecidos por la ley.

                    .jumbotron.bg-color-4
                        p #[strong Artículo 24.] Reconocimiento de intereses. En el evento en que las devoluciones o glosas formuladas no tengan fundamentación objetiva, el prestador de servicios tendrá derecho al reconocimiento de intereses moratorios desde la fecha de presentación de la factura o cuenta de cobro.
                        p En el evento en que la glosa formulada resulte justificada y se haya pagado un valor por los servicios glosados, se entenderá como un valor a descontar a título de pago anticipado en cobros posteriores. De no presentarse cobros posteriores, la entidad responsable del pago tendrá derecho a la devolución del valor glosado y al reconocimiento de intereses moratorios desde la fecha en la cual la entidad responsable del pago canceló al prestador.

                    .jumbotron.bg-color-4
                        p #[strong Artículo 25.] Registro conjunto de trazabilidad de la factura. Para efectos de contar con un registro sistemático del cobro, glosas y pago de servicios de salud.

                    .jumbotron.bg-color-4
                        p #[strong Artículo 26.] Responsabilidad del recaudo de copagos y cuotas moderadoras. La responsabilidad del recaudo de los copagos y cuotas moderadoras es de las entidades responsables del pago de servicios de salud. En el caso en que se pacte en los acuerdos de voluntades el recaudo de estos por parte de los prestadores de servicios de salud, solamente podrán considerarse como parte del pago a los prestado res de servicios de salud cuando exista un recaudo efectivo de su valor.

                    .jumbotron.bg-color-4
                        p #[strong Artículo 27.] Liquidación o terminación de acuerdo de voluntades de prestación de servicios de salud. Todos los acuerdos de voluntades que se celebren entre prestadores de servicios de salud y entidades responsables del pago de los servicios de salud para efectos de prestar los servicios de salud en el marco del Sistema General de Seguridad Social en Salud, con independencia de la naturaleza jurídica de las partes, deberán ser liquidados o terminados a más tardar dentro de los cuatro (4) meses siguientes a su vencimiento.                                               

                #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt
                            h3 Capítulo V Período de transición                 
                    .jumbotron
                        p #[strong Artículo 28.] Período de transición. Se establece un período de seis (6) meses contados a partir de la fecha de publicación de los procedimientos y formatos que establezca el
                        p Ministerio de la Protección Social en desarrollo del presente decreto, para que los prestadores de servicios de salud y entidades responsables del pago de los servicios de salud los adopten.
  

                    .jumbotron
                        p #[strong Artículo 29.] Vigilancia y control. La Superintendencia Nacional de Salud vigilará y controlará el cumplimiento de lo establecido en el presente decreto y en caso de incumplimiento realizará las acciones pertinentes de acuerdo con sus competencias.   

                    .jumbotron
                        p #[strong Artículo 30.] Vigencia y derogatorias. El presente decreto rige a partir de la fecha de su publicación y deroga el Decreto 2759 de 1991, el Decreto 723 de 1997, los artículos 9, 10, 11 Y 12 del Decreto 3260 de 2004 y las demás disposiciones que le sean contrarias.                                                                    
        .sub-ecored.mt-5#21
            h2 2.1 Resolución 3047 de 2008 
        p Por medio de la cual se definen los formatos, mecanismos de envío, procedimientos y términos a ser implementados en las relaciones entre prestadores de servicios de salud y entidades responsables del pago de servicios de salud, definidos en el Decreto 4747 de 2007

        .teme-ecored.mt-5
            h3 ARTÍCULO 1o. OBJETO.   
        p El objeto de la presente resolución es definir los formatos, mecanismos de envío, procedimientos y términos que deberán ser adoptados por los prestadores de servicios de salud y las entidades responsables del pago de tales servicios.  

        .teme-ecored.mt-5
            h3 ARTÍCULO 2o. FORMATO Y PROCEDIMIENTO PARA EL INFORME DE POSIBLES INCONSISTENCIAS EN LAS BASES DE DATOS DE LA ENTIDAD RESPONSABLE DEL PAGO.  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img5.svg").img-fluid 
        p informe de posibles inconsistencias en las bases de datos de la entidad responsable del pago de que trata el parágrafo 2º del artículo 11 del Decreto 4747 de 2007 se adoptará el formato definido en el Anexo Técnico número 1 que hace parte integral de la presente resolución. El informe deberá reportarse a más tardar los días 15 y el último día de cada mes por parte del prestador de servicios de salud a las entidades responsables del pago.
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20T%C3%A9cnico%20No%201_3047_08.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Anexo Técnico número 1                     

        .teme-ecored.mt-5
            h3 ARTÍCULO 3o. FORMATO Y PROCEDIMIENTO PARA EL INFORME DE LA ATENCIÓN INICIAL DE URGENCIAS.  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img6.svg").img-fluid 
        p El envío del informe a la entidad responsable del pago se realizará dentro de las veinticuatro (24) horas siguientes al inicio de la atención.
        p En caso de que luego de tres (3) intentos de envío debidamente soportados de envío del reporte a los medios de recepción de información, el prestador de servicios de salud no logre comunicación con la entidad responsable del pago, deberá remitir el informe de la atención inicial de urgencias por correo electrónico como imagen adjunta o vía fax a la dirección territorial de salud en la cual opere el prestador de servicios de salud, así:
        .list.ml-3.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt
                p los ubicados en municipios categoría especial, primera categoría y segunda categoría, lo enviarán a su respectiva dirección municipal de salud, los ubicados en distritos lo enviarán a la dirección distrital de salud y los ubicados en los demás municipios deberán enviarlo a la dirección departamental de salud. 
        .list.ml-3.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt
                p En caso de no lograrse comunicación con las direcciones municipales o distritales, se deberá enviar el informe de atención inicial de urgencias a la dirección departamental de salud.
        .list.ml-3.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt
                p La constancia de este envío se anexará a la factura, quedando prohibido para la entidad responsable del pago devolver la factura o generar glosa con el argumento de que la atención inicial de urgencias no le fue informada oportunamente.                                        
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20T%C3%A9cnico%20No%202_3047_08.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Para el informe inicial de la atención de urgencias se debe diligenciar el #[strong Anexo Técnico número 2]    

        .teme-ecored.mt-5
            h3 ARTÍCULO 4o. FORMATO Y PROCEDIMIENTO PARA LA SOLICITUD DE AUTORIZACIÓN DE SERVICIOS POSTERIORES A LA ATENCIÓN INICIAL DE URGENCIAS. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img7.svg").img-fluid               
        p Si para la realización de servicios posteriores a la atención inicial de urgencias, en el acuerdo de voluntades se tiene establecido como requisito la autorización, se adoptará el formato definido en el Anexo Técnico número 3 que hace parte integral de la presente resolución. una vez superada la atención inicial de urgencias, se realizará dentro de las cuatro (4) horas siguientes a la terminación de dicha atención. En caso de que se requieran servicios adicionales a la primera autorización en el servicio de urgencias o internación, la solicitud de autorización se deberá enviar antes del vencimiento de la autorización vigente, o a más tardar dentro de las doce (12) horas siguientes a su terminación. 
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20T%C3%A9cnico%20No%203_3047_08.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Anexo Técnico número 3         

        .teme-ecored.mt-5
            h3 ARTÍCULO 5o. FORMATO Y PROCEDIMIENTO PARA LA RESPUESTA DE AUTORIZACIÓN DE SERVICIOS POSTERIORES A LA ATENCIÓN INICIAL DE URGENCIAS Y EN EL CASO DE AUTORIZACIÓN ADICIONAL.   
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img8.svg").img-fluid  
        p Si para la realización de servicios posteriores a la atención inicial de urgencias, en el acuerdo de voluntades se tiene establecido como requisito la autorización para su respuesta, se adoptará el formato definido en el Anexo Técnico número 4 que hace parte integral de la presente resolución.

        p Para el cumplimiento de lo dispuesto en el presente artículo se tendrá en cuenta lo siguiente:
        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 1 
            .list__txt
                p Las entidades responsables del pago deben dar respuesta a la solicitud de autorización de servicios, dentro de los siguientes términos: 

        .list.ml-5.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt
                p Para la atención posterior a la atención inicial de urgencias: Dentro de las dos (2) horas siguientes al recibo de la solicitud. 

        .list.ml-5.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt
                p Para la atención de servicios adicionales: Dentro de las seis (6) horas siguientes al recibo de la solicitud. 

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 2 
            .list__txt
                p En caso de que la solicitud implique la remisión a otro prestador, la entidad responsable del pago deberá dar la autorización de servicios en el formato y con el procedimiento establecido en este artículo, al receptor del paciente con copia al prestador solicitante. Lo anterior, sin perjuicio de que el prestador solicitante garantice la continuidad de la atención del paciente mientras se produce el traslado. La entidad responsable del pago deberá cancelar los servicios prestados mientras se asume el manejo por el prestador receptor.

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 3 
            .list__txt
                p Si transcurridos los términos establecidos en el numeral 1 del presente artículo,el prestador de servicios no ha recibido respuesta por parte de la entidad responsable del pago, el prestador continuará brindando la atención en los términos de la solicitud y facturará anexando como soporte la solicitud de autorización remitida a la entidad responsable del pago o a la dirección departamental, distrital o municipal de salud. La entidad responsable del pago no podrá devolver la factura o glosarla con el argumento de tratarse de un servicio no autorizado. 

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 4
            .list__txt
                p Si luego de tres intentos de envío debidamente soportados, por la entidad responsable del pago a los medios de recepción de información, en un período no menor de dos (2) horas en el caso de atención posterior a la atención inicial de urgencias y de seis (6) horas en el caso de servicios adicionales a la primera autorización, la entidad responsable del pago no logra comunicación con el prestador de servicios de salud, deberá remitir el formato de respuesta debidamente diligenciado por correo electrónico como imagen adjunta o vía fax a la dirección territorial de salud en la cual opere el prestador de servicios de salud. 

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 5
            .list__txt
                p En caso de que la solicitud implique la remisión a otro prestador y no se obtenga respuesta por parte de la entidad responsable del pago, el prestador de servicios de salud deberá informar al Centro Regulador de Urgencias, Emergencias y Desastres, CRUE, de la dirección territorial respectiva, o a la dirección territorial en el caso que no exista CRUE, quien definirá el prestador a donde debe remitirse el paciente.  La entidad responsable del pago deberá cancelar el valor de la atención a la entidad receptora en los términos definidos en el acuerdo de voluntades y en el caso de no existir este, en las normas vigentes sobre la materia y no podrá devolver la factura o glosarla con el argumento de tratarse de un servicio no autorizado. 

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 6 
            .list__txt
                p En caso de que la entidad responsable del pago considere que no es procedente la autorización del servicio solicitado en el prestador solicitante, la entidad responsable del pago adelantará los trámites necesarios para definir la atención de los servicios incluidos en el plan de beneficios a su cargo, en condiciones de calidad en otro prestador en un término no mayor a cuatro (4) horas. 

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 7 
            .list__txt
                p No se podrán exigir soportes adicionales o dilatar mediante otros requerimientos la decisión sobre la autorización de servicios solicitada, lo anterior, sin perjuicio de que las entidades responsables del pago de los servicios de salud puedan en casos complejos a criterio del auditor médico, solicitar datos clínicos adicionales a los consignados en el Anexo Técnico número 3, para analizar la solicitud formulada. La solicitud de información adicional por parte de la entidad responsable del pago deberá realizarse dentro de las dos (2) horas siguientes a la recepción de la solicitud del prestador y el prestador de servicios de salud deberá dar respuesta dentro de las dos (2) horas siguientes a la recepción de la solicitud de información adicional. Una vez recibida la información adicional la entidad responsable del pago deberá dar respuesta dentro de la siguiente hora. 

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 8 
            .list__txt
                p Si en el acuerdo de voluntades se pactó la autorización de servicios, para el manejo de pacientes con patologías que cuenten con guías de atención concertadas entre el prestador de servicios de salud y la entidad responsable del pago, la autorización será integral y cubrirá los servicios detallados en la guía correspondiente. La autorización se emitirá en los términos del plan de manejo enviado en la solicitud de autorización y sólo se requerirá nueva autorización en casos de cambios del plan de manejo. 

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 9 
            .list__txt
                p Si en el acuerdo de voluntades se pactó la autorización de servicios, para atención por caso, conjunto integral de atenciones, paquete o grupo relacionado por diagnóstico, la autorización cubrirá todos los servicios contenidos en el caso, conjunto, paquete o grupo relacionado por diagnóstico de acuerdo con lo definido en el acuerdo de voluntades. La autorización se emitirá en los términos del plan de manejo enviado en la solicitud de autorización y sólo se requerirá nueva autorización en casos de cambios del plan de manejo. 

        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 10 
            .list__txt
                p Para el manejo de pacientes con patologías que cuenten con guías de atención concertadas entre el prestador de servicios de salud y la entidad responsable del pago, la autorización, si esta se pactó en el acuerdo de voluntades, será integral y cubrirá los servicios detallados en la guía correspondiente. En el caso de acuerdos de voluntades para atención por caso, conjunto integral de atenciones, paquete o grupo relacionado por diagnóstico, la autorización, si esta se pactó, cubrirá todos los servicios contenidos en el caso, conjunto, paquete o grupo relacionado por diagnóstico de acuerdo con lo definido en el acuerdo de voluntades. La autorización se emitirá en los términos del plan de manejo enviado en la solicitud de autorización y sólo se requerirá nueva autorización en casos de cambios del plan de manejo.
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20T%C3%A9cnico%20No%204_3047_08.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Anexo Técnico número 4

        .teme-ecored.mt-5
            h3 ARTÍCULO 6o. FORMATO Y PROCEDIMIENTO PARA LA SOLICITUD DE AUTORIZACIÓN DE SERVICIOS ELECTIVOS.    
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img9.svg").img-fluid         
        p Si en el acuerdo de voluntades se tiene establecido como requisito la autorización para la realización de servicios de carácter electivo, sean estos ambulatorios u hospitalarios, el prestador de servicios de salud deberá adoptar el formato definido en el Anexo Técnico número 3 que hace parte integral de la presente resolución, el cual podrá ser enviado por el usuario a la entidad responsable del pago por correo electrónico como imagen adjunta o fax, o presentarlo directamente en los puntos de atención de que disponga la entidad responsable del pago.
        p En el caso de que a juicio del profesional tratante, el servicio requerido sea de carácter prioritario, la solicitud deberá ser remitida por la institución prestadora de servicios a la entidad responsable del pago.
        p En ningún caso, las entidades responsables del pago podrán exigir que el usuario o su acudiente se desplace físicamente hasta sus instalaciones para entregar la solicitud de autorización. 
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20T%C3%A9cnico%20No%203_3047_08.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Anexo Técnico número 3        
 

        .teme-ecored.mt-5
            h3 ARTÍCULO 7o. FORMATO Y PROCEDIMIENTO PARA LA RESPUESTA DE AUTORIZACIÓN DE SERVICIOS ELECTIVOS.    
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img10.svg").img-fluid 
        p &lt;Artículo modificado por el artículo 2 de la Resolución 4331 de 2012. El nuevo texto es el siguiente:&gt; Para la respuesta de autorización de servicios electivos de que trata el artículo 16 del Decreto número 4747 de 2007 se adoptará el formato definido en el Anexo Técnico número 4 de la presente resolución. Las entidades responsables del pago deben dar respuesta a la solicitud de autorización de servicios, dentro de los siguientes términos:
        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 1 
            .list__txt
                p La respuesta positiva o negativa a la solicitud de autorización de servicios electivos deberá ser comunicada al usuario y enviada al prestador por la entidad responsable del pago, dentro de los cinco (5) días hábiles siguientes al recibo de la solicitud en el Formato Único de Autorización. En el caso de que el servicio requerido sea de carácter prioritario, la respuesta a la solicitud deberá ser comunicada al usuario y enviada al prestador por parte de la entidad responsable del pago dentro de los dos (2) días hábiles siguientes al recibo de la solicitud. 
        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 2
            .list__txt
                p En caso de ser positiva la respuesta, la entidad responsable del pago contactará telefónicamente al usuario quien deberá seleccionar el prestador de su elección dentro de las posibilidades de la red; la entidad responsable del pago concertará con el usuario la fecha y hora de la cita, o le informará el número telefónico del prestador seleccionado para que el usuario directamente concerte la fecha y hora, así mismo le informará el valor del pago compartido.  
        .list.ml-3.mt-3
            .list__item
                .list__item__number
                    span 3 
            .list__txt
                p En caso de que la respuesta sea negativa, la Entidad Responsable del Pago deberá diligenciar y enviar el formato único de negación de servicios establecido en la Circular Única de la Superintendencia Nacional de Salud y adicionalmente, diligenciar el registro de negación de servicios definido por el Ministerio de Salud y Protección Social.  
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20T%C3%A9cnico%20No%204_3047_08.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Anexo Técnico número 4

        .teme-ecored.mt-5
            h3 ARTÍCULO 8o. COTIZACIONES.    
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img11.svg").img-fluid 
        p En ningún caso se podrá trasladar al paciente o a su acudiente el trámite de cotizaciones o documento que haga sus veces, para obtener la autorización de servicios por parte de la entidad responsable del pago; la gestión de esta, en caso de requerirse, será realizada directamente entre la entidad responsable de pago y el prestador de servicios de salud, sin afectar los términos establecidos para el trámite de respuestas de autorización definidos en la presente resolución.        

        .teme-ecored.mt-5
            h3 ARTÍCULO 9o. PROCESOS AUTOMATIZADOS PARA LA RECEPCIÓN O ENVÍO DE LOS FORMATOS.   
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img12.svg").img-fluid 
        p Si los prestadores de servicios de salud y las entidades responsables del pago de tales servicios, cuentan con procesos automatizados para la generación, envío y recepción de la información de que trata la presente resolución, o con desarrollos tecnológicos adicionales como códigos de barras, o sistemas de comunicación telefónica, entre otros, los mismos podrán seguir siendo utilizados siempre y cuando incluyan todas las variables y estándares de datos establecidos en los formatos definidos en los Anexos Técnicos 1, 2, 3, 4 y 7 de la presente resolución.

        .teme-ecored.mt-5
            h3 ARTÍCULO 10. MEDIOS DE ENVÍO Y RECEPCIÓN DE INFORMACIÓN. 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img13.svg").img-fluid   
        p La información contenida en los anexos 1, 2, 3 y 4 definidos en la presente resolución, enviada y recibida entre entidades responsables del pago y prestadores de servicios de salud, se considera mensaje de datos y se somete a lo establecido en la Ley 527 de 1999 o en las normas que la modifiquen, adicionen o sustituyan. El envío y recepción de la información contenida en dichos anexos, entre entidades responsables del pago y prestadores de servicios de salud, se podrá realizar a través de uno o más de los siguientes medios:  
        .list.ml-5.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt
                p Intercambio Electrónico de Datos (EDI). 
        .list.ml-5.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt
                p Correo electrónico. 
        .list.ml-5.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt
                p Telefax.

        .teme-ecored.mt-5
            h3 ARTÍCULO 11. DISPOSICIÓN DE RECURSO HUMANO Y TECNOLÓGICO.  
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img14.svg").img-fluid 
        p Las entidades a quienes aplique el Decreto 4747 de 2007, deberán disponer del recurso humano y tecnológico necesario para cumplir los procesos y procedimientos establecidos en la presente resolución.

        .teme-ecored.mt-5
            h3 ARTÍCULO 12. SOPORTES DE LAS FACTURAS DE PRESTACIÓN DE SERVICIOS.   
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img15.svg").img-fluid 
        p &lt;Artículo modificado por el artículo 4 de la Resolución 4331 de 2012. El nuevo texto es el siguiente:&gt; Los soportes de las facturas de que trata el artículo 21 del Decreto número 4747 de 2007 o las normas que lo modifiquen, adicionen o sustituyan, serán como máximo los definidos en el Anexo Técnico número 5, que hace parte integral de la presente resolución. Cuando se facturen medicamentos no incluidos en el Plan Obligatorio de Salud POS, el prestador deberá identificar en la factura de prestación del servicio, el Código Único de Medicamentos – CUM –, emitido por el INVIMA, con la siguiente estructura: Expediente – Consecutivo – ATC.
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20T%C3%A9cnico%20No%205_3047_08.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Anexo Técnico número 5

        .teme-ecored.mt-5
            h3 ARTÍCULO 13. REVISIÓN Y VISADO PREVIO A LA PRESENTACIÓN Y/O RADICACIÓN DE FACTURAS O CUENTAS   
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img16.svg").img-fluid 
        p Entre las entidades responsables del pago de servicios de salud y los prestadores de servicios de salud se podrán acordar mecanismos de revisión y visado de las facturas o cuentas al interior de los prestadores, para que se realicen de manera previa a la presentación o radicación de estas. De no existir este acuerdo, la entidad responsable del pago no podrá exigir como requisito para la presentación y/o radicación de la factura o cuenta, la revisión o visado previo de las mismas.
        .teme-ecored.mt-5
            h3 ARTÍCULO 14. MANUAL ÚNICO DE GLOSAS, DEVOLUCIONES Y RESPUESTAS.    
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img17.svg").img-fluid
        p La denominación y codificación de las causas de glosa,devoluciones y respuestas de que trata el artículo 22 del Decreto 4747 de 2007 o en las normas que lo modifiquen, adicionen o sustituyan, serán las establecidas en el Anexo Técnico número 6, el cual forma parte integral de la presente resolución. Las entidades responsables del pago no podrán crear nuevas causas de glosa o de devolución; las mismas sólo podrán establecerse mediante resolución expedida por el Ministerio de la Protección Social.
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20tecnico%20No.%20%206%20Res%203047-08%20y%20416-09.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Anexo Técnico número 6        

        .teme-ecored.mt-5
            h3 ARTÍCULO 15. REGISTRO CONJUNTO DE TRAZABILIDAD DE LA FACTURA.   
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img18.svg").img-fluid  
        p Para la implementación del Registro conjunto de trazabilidad de la factura de que trata el artículo 25 del Decreto 4747 de 2007, se establece la estructura contenida en el Anexo Técnico número 8, el cual forma parte integral de la presente resolución.
        section
            a(href="https://www.minsalud.gov.co/salud/Documents/Anexo%20T%C3%A9cnico%20No%208_3047_08.pdf" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Anexo Técnico número 8          

        .jumbotron.my-5
            p A continuación, se encuentran los anexos faltantes 7, 9, 10 y 11 donde se encuentra más información de la normatividad y el instructivo de los anexos citados en la parte superior.

            a(href="https://docs.supersalud.gov.co/PortalWeb/Juridica/OtraNormativa/R_MPS_3047_2008.pdf" target="_blank")
                
                .list.ml-5.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p ANEXO TÉCNICO NÚMERO 7
                .list.ml-5.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p ESTÁNDARES DE DATOS PARA LOS ANEXOS TÉCNICOS 1, 2, 3 Y 4.
                .list.ml-5.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p ANEXO TÉCNICO NO. 9.
                .list.ml-5.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p FORMATO ESTANDARIZADO DE REFERENCIA DE PACIENTES.
                .list.ml-5.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p ANEXO TÉCNICO NO. 10.
                .list.ml-5.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p FORMATO ESTANDARIZADO DE CONTRARREFERENCIA DE PACIENTES.
                .list.ml-5.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p ANEXO TÉCNICO NO 11.
        section
            a(href="https://www.youtube.com/watch?v=tojA2SDTUQQ" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p En el presente enlace se encuentra un video en donde se explica la forma general de los soportes de facturación en salud, anexo 5, de cuentas médicas entre entidades responsables de pago.