.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Acuerdo 641 de 2016 Por el cual se efectúa la reorganización del Sector Salud de Bogotá, Distrito Capital, se modifica el Acuerdo 257 de 2006 y se expiden otras disposiciones.
                    
                    td Artículo 
                    td 
                        a(href="http://www.saludcapital.gov.co/Documents/Acuerdo_641_de_20166.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td DECRETO NUMERO 4747 DE 2007 Por medio del cual se regulan algunos aspectos de las relaciones entre los prestadores de servicios de salud y las entidades responsables del pago de los servicios de salud de la población a su cargo, y se dictan otras disposiciones.

                    td Artículo  
                    td 
                        a(href="http://www.saludcapital.gov.co/Documents/Decreto-4747-de-2007.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar     

                tr
                    td RESOLUCIÓN 559 6 DE 2015 Por la cual se definen los criterios técnicos para el Sistema de Selección y Clasificación de pacientes en los servicios de urgencias "Triage".

                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Resoluci%C3%B3n%205596%20de%202015.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td RESOLUCIÓN 3047 DE 2008 (agosto 14) Diario Oficial No. 47.082 de 15 de agosto de 2008 MINISTERIO DE LA PROTECCIÓN SOCIAL Por medio de la cual se definen los formatos, mecanismos de envío, procedimientos y términos a ser implementados en las relaciones entre prestadores de servicios de salud y entidades responsables del pago de servicios de salud, definidos en el Decreto 4747 de 2007.

                    td Artículo
                    td 
                        a(href="https://docs.supersalud.gov.co/PortalWeb/Juridica/OtraNormativa/R_MPS_3047_2008.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                
                tr
                    td Ley 2015 de 2020 Por medio del cual se crea la historia clínica electrónica interoperable y se dictan otras disposiciones.

                    td Artículo
                    td 
                        a(href="https://dapre.presidencia.gov.co/normativa/normativa/LEY%202015%20DEL%2031%20DE%20ENERO%20DE%202020.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td ABECE de la Interoperabilidad de Datos de la Historia Clínica en Colombia Términos y siglas.

                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/ihc/Documentos%20compartidos/ABC-IHC.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td RESOLUCION NUMERO 1995 DE 1999 (Julio 8) Por la cual se establecen normas para el manejo de la Historia Clínica.

                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/RESOLUCI%C3%93N%201995%20DE%201999.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Resolución 839 de 2017, Modifica la Resolución 1995 de 1999 y se dictan otras disposiciones.

                    td Artículo
                    td 
                        a(href="http://achc.org.co/documentos/prensa/Resolucion%20No%20839%20de%202017.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Decreto 2759 de 1991. Organiza y establece el régimen de referencia y contra referencia.

                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/DECRETO%202759%20DE%201991.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Resolución 5269 de 2017.

                    td Artículo
                    td 
                        a(href="https://ilans.com.co/wp-content/uploads/2018/11/Resoluci%C3%B3n-No.5269-de-2017.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Resolución 3512 de 2019.  “Por la cual se actualizan los servicios y tecnologías de salud financiados con recursos de la Unidad de Pago por Capitación (UPC)”

                    td Artículo
                    td 
                        a(href="https://achc.org.co/wp-content/uploads/2019/12/Resolucion-No.-3512-de-2019-Actualizci%C3%B3n-coberturas-UPC-2020.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Decreto Único 780 de 2016. Expide el Decreto Único Reglamentario del Sector Salud y Protección Social.  

                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Decreto%200780%20de%202016.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Afiliacion al regimen subsidiado.

                    td Infografía
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VP/DOA/Afiliacion-regimen-subsidiado.jpg", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Decreto 5596 de diciembre de 2015. Servicio de urgencias nueva clasificación TRIAGE. 

                    td Infografía
                    td 
                        a(href="https://red-salud.micolombiadigital.gov.co/sites/red-salud/content/files/000116/5753_triage2_1024x600.png", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Ley 2015 de 2020 Historia clínica electrónica

                    td Artículo
                    td 
                        a(href="https://www.youtube.com/watch?v=55ovi3OJcKg", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td RESOLUCION NUMERO 1995 DE 1999 (Julio 8) Por la cual se establecen normas para el manejo de la Historia Clínica.

                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/RESOLUCI%C3%93N%201995%20DE%201999.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Resolución 839 de 2017, Modifica la Resolución 1995 de 1999 y se dictan otras disposiciones.

                    td Artículo
                    td 
                        a(href="http://achc.org.co/documentos/prensa/Resolucion%20No%20839%20de%202017.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                                                             
                tr
                    td Decreto 2759 de 1991. Organiza y establece el régimen de referencia y contra referencia.

                    td Artículo
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/DECRETO%202759%20DE%201991.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar