include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Alimentos. (s.f.). revistaialimentos.com. Obtenido de TIPOS DE CONTRATOS EN COLOMBIA: ", "https://www.revistaialimentos.com/tipos-de-contratos-en-colombia/")

        +referenciaItem("Ministerio de sallud . (s.f.). minsalud.gov.co. Obtenido de articulo 3 Definición de Triage: ", "https://www.minsalud.gov.co/Normatividad_Nuevo/Resoluci%C3%B3n%205596%20de%202015.pdf")

        +referenciaItem("Ministerio de Salud . (08 de 07 de 1999). minsalud.gov.co. Obtenido de RESOLUCION NUMERO 1995 DE 1999: ", "https://www.minsalud.gov.co/Normatividad_Nuevo/RESOLUCI%C3%93N%201995%20DE%201999.pdf")

        +referenciaItem("Ministerio de salud . (s.f.). minsalud.gov.co. Obtenido de Aseguramiento al sistema general de salud: ", "https://www.minsalud.gov.co/proteccionsocial/Regimensubsidiado/Paginas/aseguramiento-al-sistema-general-salud.aspx")

        +referenciaItem("Ministerio de salud . (s.f.). minsalud.gov.co. Obtenido de Así funcionará la historia clínica electrónica en Colombia: ", "https://www.minsalud.gov.co/Paginas/Asi-funcionara-la-historia-clinica-electronica-en-Colombia.aspx")

        +referenciaItem("Ministerio de Salud. (01 de 12 de 1991). minsalud.gov.co. Obtenido de DECRETO 2759 DE 1991: ", "https://www.minsalud.gov.co/Normatividad_Nuevo/DECRETO%202759%20DE%201991.pdf")
       
        +referenciaItem("Ministerio de Salud. (31 de 01 de 2020). minsalud.gov.co. Obtenido de Así funcionará la historia clínica electrónica en Colombia Boletín de Prensa No 017 de 2020: ", "https://www.minsalud.gov.co/Paginas/Asi-funcionara-la-historia-clinica-electronica-en-Colombia.aspx")


        +referenciaItem("MINISTERIO DE SALUD. (s.f.). minsalud.gov.co. Obtenido de El Sistema de Información de Prestaciones de Salud RIPS: ", "https://www.minsalud.gov.co/proteccionsocial/Paginas/rips.aspx")


        +referenciaItem("MINISTERIO DE SALUD Y PROTECCIÓN SOCIAL . (23 de 03 de 2017). achc.org.co. Obtenido de Resolucion 839 de 2017: ", "http://achc.org.co/documentos/prensa/Resolucion%20No%20839%20de%202017.pdf")


        +referenciaItem("Ministerio de salud . (s.f.). ilans.com.co. Obtenido de Resolución 3512 de 2019: ", "https://ilans.com.co/wp-content/uploads/2018/11/Resoluci%C3%B3n-No.5269-de-2017.pdf")


        +referenciaItem("Ministerio del trabajo. (s.f.). ilo.org. Obtenido de CÓDIGO SUSTANTIVO DEL TRABAJO: ", "https://www.ilo.org/dyn/travail/docs/1539/Codigo%20Sustantivo%20del%20Trabajo%20Colombia.pdf")


        +referenciaItem("Ministerio del trabajo . (ilo.org). Obtenido de CÓDIGO SUSTANTIVO DEL TRABAJO: ", "https://www.ilo.org/dyn/travail/docs/1539/Codigo%20Sustantivo%20del%20Trabajo%20Colombia.pdf")


        +referenciaItem("Salud Capital . (07 de 12 de 2007). saludcapital.gov.co. Obtenido de DECRETO NUMERO 4747 DE 2007: ", "http://www.saludcapital.gov.co/Documents/Decreto-4747-de-2007.pdf")


        +referenciaItem("Salud capital . (s.f.). saludcapital.gov.co. Obtenido de Centro Regulador de Urgencias y Emergencias - CRUE: ", "http://www.saludcapital.gov.co/DCRUE/Paginas/Informacion_Crue.aspx")


        +referenciaItem("Salud Capital . (s.f.). saludcapital.gov.co. Obtenido de CAPS: ", "http://www.saludcapital.gov.co/Paginas2/40-caps.aspx")


        +referenciaItem("Super salud. (s.f.). docs.supersalud.gov.co. Obtenido de RESOLUCIÓN 3047 DE 2008: ", "https://docs.supersalud.gov.co/PortalWeb/Juridica/OtraNormativa/R_MPS_3047_2008.pdf")                              

        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            